<h1 class="text-secondary text-center"> Create observation disciplinary </h1>

<div class= 'border border-1 mt-3 w-50 p-3 d-block mx-auto'>
<%= form_with model: @observation_disciplinary, url: discipline_director_year_classroom_observation_disciplinaries_path, method: :post, class: 'w-100', local: true do |form| %>
  <div class="input-group mb-3">
    <%= form.label :promotion_id , class: "input-group-text"%>
    <%= form.select :promotion_id, @promotions.map { |promotion| ["#{promotion.student.name} #{promotion.student.first_name} #{promotion.student.last_name}", promotion.id] },{}, { class:"form-select" } %>
  </div>

  <div class='input-group mb-3'>
  <%= form.label :date, class: 'input-group-text' %>
  <%= form.date_field :date, class: 'form-control'%>
  </div>

  <div class='input-group mb-3'>
  <%= form.label :observation, class: 'input-group-text' %>
  <%= form.text_area :observation, class: 'form-control'%>
  </div>
<%= form.submit class: 'btn btn-primary' %>
<% end %>