<div class="row">
<div class="col-md-3"></div>

<div class='col-md-6 d-block mx-auto'>
<div class='text-secondary d-flex justify-content-between border border-1 p-3 m-3'>
  <div>
    <h3><%= @accountant.name %> <%= @accountant.last_name %></h3>
    <h6><%= @accountant.first_name %> </h6>
    <h6><%= @accountant.phone %> </h6>
    <h6><%= @accountant.date_of_birth %> </h6>
  </div>
  <div class='ms-3 me-3'>
    
    <a href='' class='btn btn-dark'> Add expends </a>
  </div>
</div>
</div>
<div class="col-md-3"></div>
</div>