<div class="container">  
  <div class="row">  
    <div class="col-md-3"> </div>
    <div class='col-md-6 text-secondary d-flex justify-content-between border border-1 p-3 m-3'>
      <div>
      <h3 class="text-success"> student : <%= "#{@promotion.student.name} #{@promotion.student.first_name}" %> </h3>
      <h3> date of creation : <%= @date_evaluation.date %> </h3>
      <h6>maximum : <%= @date_evaluation.maximum %> </h6>
      <h6> periode : <%= @date_evaluation.periode.name %> </h6>
      <% unless @date_evaluation.give_works.empty? %>
        <h6 class="text-success"> time of render : <%= @date_evaluation.give_works.first.render_time%> </h6>
      <% end %>
      </div>
      <div class='ms-3 me-3'>
      <h6 class="text-secondary"> work of student : </h6>
        <% if @give_work.render_works.empty? %>
          <h6 class="text-danger">No render yet</h6>
          <a href="<%= new_promotion_give_work_render_work_path(@promotion, @date_evaluation.give_works.first) %>" class="btn btn-success vert mt-3"> create work for render </a>
        <% else %>
          <% if @give_work.render_works.first.images.attached? %>
            <% @give_work.render_works.first.images.each do |attachement|%>
              file (click to download) : <%= link_to attachement.filename, rails_blob_path(attachement, disposition: "attachement"), class: 'btn btn-primary bleu' %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>