<h1 class='text-secondary text-center'> Create parent</h1>
<div class= 'border border-1 mt-3 w-50 p-3 d-block mx-auto'>
<%= form_with model: @parent, url: parents_path, method: :post, class: 'w-100', local: true do |form| %>
<div class='input-group mb-3'>
  <%= form.label :name, class: 'input-group-text' %>
  <%= form.text_field :name, class: 'form-control'%>
</div>
<div class='input-group mb-3'>
  <%= form.label :first_name, class: 'input-group-text'%>
  <%= form.text_field :first_name, class: 'form-control' %>
</div>
<div class='input-group mb-3'>
  <%= form.label :phone, class: 'input-group-text' %>
  <%= form.text_field :phone, class: 'form-control' %>
</div>

<%= form.submit class: 'btn btn-primary' %>
<% end %>