<div class='w-50 d-block mx-auto'>
<div class='text-secondary d-flex justify-content-between border border-1 p-3 m-3'>
  <div>
    <h3><%= @teacher.name %> <%= @teacher.last_name %></h3>
    <h6><%= @teacher.first_name %> </h6>
    <h6><%= @teacher.phone %> </h6>
    <h6><%= @teacher.date_of_birth %> </h6>
  </div>
  <div class='ms-3 me-3'>
    
  </div>
</div>

<div class='text-secondary d-flex justify-content-between border border-1 p-3 m-3'>
  <div>
    <h3><%= @classroom.name %> <%= @classroom.classement %></h3>
    <h6><%= @classroom.section.name %> </h6>
  </div>
    <div class='ms-3 me-3'>
      
    </div>
  </div>
</div>